otelcol.exporter.otlp "causely" {
  client {
    endpoint = "mediator:4317"
    tls {
      insecure = true
    }
  }
}

otelcol.exporter.otlphttp "grafana" {
  client {
    endpoint = "https://otlp-gateway-prod-us-east-0.grafana.net/otlp"
    auth     = otelcol.auth.basic.grafana.handler
  }
}

otelcol.auth.basic "grafana" {
  username = "GRAFANA_CLOUD_INSTANCE_ID"
  password = "GRAFANA_CLOUD_API_KEY"
}

otelcol.exporter.otlp "grafanacloud" {
  client {
    endpoint = "tempo-prod-04-prod-us-east-0.grafana.net:443"
    auth = otelcol.auth.basic.grafanacloud.handler
  }
}

otelcol.auth.basic "grafanacloud" {
  username = "GRAFANA_CLOUD_INSTANCE_ID"
  password = "GRAFANA_CLOUD_API_KEY"
}

otelcol.processor.discovery "default" {
    targets = discovery.relabel.docker.output

    output {
      traces  = [otelcol.processor.batch.default.input]
    }
}

otelcol.processor.batch "default" {
  output {
    logs    = [otelcol.exporter.otlphttp.grafana.input]
    metrics = [otelcol.exporter.otlp.causely.input, otelcol.exporter.otlphttp.grafana.input]
    traces  = [otelcol.exporter.otlp.causely.input, otelcol.exporter.otlphttp.grafana.input]
  }
}

otelcol.receiver.otlp "otlp" {
  grpc {
    endpoint = "0.0.0.0:4317"
  }
  http {
    endpoint = "0.0.0.0:4318"
  }

  output {
    logs    = [otelcol.processor.batch.default.input]
    metrics = [otelcol.processor.batch.default.input]
    traces  = [otelcol.processor.discovery.default.input]
  }
}

// Discover Docker containers and extract metadata.
discovery.docker "containers" {
  host = "unix:///var/run/docker.sock"
}

discovery.relabel "docker" {
  targets = discovery.docker.containers.targets

  rule {
    source_labels = ["__meta_docker_container_name"]
    regex = "/(.*)"
    target_label = "container.name"
  }

  rule {
    source_labels = ["__meta_docker_container_id"]
    target_label  = "container.id"
    action        = "replace"
  }
}

// ###############################
// #### Trace Configuration ####
// ###############################
beyla.ebpf "default" {
  attributes {
    kubernetes {
      enable = "false"
    }
    select {
      attr = "sql_client_duration"
      exclude = []
      include = ["db.query.text"]
    }
  }
  discovery {
    instrument {
      open_ports = "80,443,3000,8000-8999"
    }
  }
  output {
    traces = [otelcol.processor.batch.default.input]
  }
}

// ###############################
// #### Metrics Configuration ####
// ###############################

// Host Cadvisor on the Docker socket to expose container metrics.
prometheus.exporter.cadvisor "docker" {
  docker_only = true
}

// Configure a prometheus.scrape component to collect cadvisor metrics.
prometheus.scrape "cadvisor" {
  targets    = prometheus.exporter.cadvisor.docker.targets
  forward_to = [otelcol.receiver.prometheus.cadvisor.receiver]
//   forward_to = [prometheus.remote_write.prometheus.receiver]
  scrape_interval = "10s"
}

otelcol.receiver.prometheus "cadvisor" {
  output {
    metrics = [otelcol.processor.batch.default.input]
  }
}

// Configure a prometheus.remote_write component to send metrics to a Prometheus server.
prometheus.remote_write "prometheus" {
  endpoint {
    url = "http://prometheus:9090/api/v1/write"
  }
}

// ###############################
// #### Logging Configuration ####
// ###############################

// Configure a loki.source.docker component to collect logs from Docker containers.
loki.source.docker "default" {
  host       = "unix:///var/run/docker.sock"
  targets    = discovery.docker.containers.targets
  relabel_rules = discovery.relabel.docker.rules
  forward_to = [otelcol.receiver.loki.default.receiver]
//  forward_to = [loki.write.local.receiver]
}

otelcol.receiver.loki "default" {
  output {
    logs = [otelcol.processor.batch.default.input]
  }
}

loki.write "local" {
  endpoint {
    url = "http://loki:3100/loki/api/v1/push"
  }
}